## q.1
## l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
## 1) arrange the list in alphabetical order
## 2) count the total letters and count of distinct letters in the list

In [48]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']  #1) arrange the list in alphabetical order
l.sort()
print(l)

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [49]:
a=['a','quick','brown','fox','jumps','over','the','lazy','dog']
count=0
for i in a:           #2) count the total letters and count of distinct letters in the list
    count=count+1
(count)

9

In [50]:
l2=[]
for i in l:
    for k in i:
        l2.append(k)
print(l2)
len(l2)

['a', 'b', 'r', 'o', 'w', 'n', 'd', 'o', 'g', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'l', 'a', 'z', 'y', 'o', 'v', 'e', 'r', 'q', 'u', 'i', 'c', 'k', 't', 'h', 'e']

33

## q.2
## Take a list containg only strings. Now, take a string input from user and rearrange the elements of the list according to the number of occurence of the string taken from user in the elements of the list. E.g.-

## LIST : ["no bun","bug bun bug bun bug bug","bunny bug","buggy bug bug buggy"]

## STRING TAKEN : "bug"

## OUTPUT LIST:["bug bun bug bun bug bug","buggy bug bug buggy","bunny bug","no bun"]

In [ ]:
l= ["no bun","bug bun bug bun bug bug","bunny bug","buggy bug bug buggy"]

## q.3 u need to lower all the characters in the given string   s = "A man, A plan, A goodman:" and remove all non-alphanumeric characters from the string and check after removing if the string is palindrome or not.

In [51]:
x=''
s ="A man, A plan, A goodman:"
l=s.lower()
print(l)
for k in l:
    if k.isalnum():
        x=x+k
print(x)
if x==x[::-1]:
    print('Palindrome ')
else:
    print('Not Palindrome ')

a man, a plan, a goodman:
amanaplanagoodman
Not Palindrome

### q.4

### a) wap  to remove punctuation mark from list of string using list comprehension
l=["hello'",1'2,22'4,"hi how'r u"]

## b) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
Then, the output should be: 1, 3, 5, 7, 9

In [63]:
l=["hello'","1'2","22'4","hi how'r u"]#a) wap to remove punctuation mark from list of string using list comprehension
[i=i.replace("","")for i in l:]

SyntaxError: invalid syntax (3857831278.py, line 2)

In [53]:
l=1,2,3,4,5,6,7,8,9            #b) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.Â¶
p=[i*i for i in l if i%2!=0]
print(p)

[1, 9, 25, 49, 81]

### q.5

### Find Longest String in List
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]

In [54]:
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]
max(l, key=len)

'i m doing good u tell'

## q.6
## Display the characters at an odd position in string input by User.

In [55]:
x=input("Enter the characters  ")

Enter the characters

## q.7
## Extract file name in this /document/imp/salary.txt

### q.8
### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98


Then, the output should be:


['34', '67', '55', '33', '12', '98'] and ('34', '67', '55', '33', '12', '98')

In [56]:
k=[]
v=34, 67, 55, 33, 12, 98
for m in v:
    x=str(m)
    k.append(x)
print(k)
print(tuple(k))

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### q. 9

### Write a program to display second largest element of the list entered by user

In [57]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
l.sort()
print(l[1])

brown

### q.10

### Write a program to display the most, second most and least frequent word of the list

l=["abc","bac","abc","abb","abb","abb"]

In [58]:
l=["abc","bac","abc","abb","abb","abb"]
l.max()
l

AttributeError: 'list' object has no attribute 'max'

## q.15 Arrange the string such that lowercases should come first. Eg: MadrID â adrIDM

In [65]:
f="MadrID"
a=f[0]
i=f[1:]
print(str(i+a))

adrIDM

### q.11
### Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]


Following are the fixed values of C and H: C is 50. H is 30.

In [64]:
#c=50
#h=30 fixed
D=int(input('enter the D '))
Q=(1/2)*(2*50*D/30)
print(Q)

enter the D 5
8.333333333333334

## q.12
### wap to place "hello" at even index of string.

eg: string :  "madrid"

output:    helloahellorhellod

In [61]:
l=['madrid']
print(l)

['madrid']

### q.13
## Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again

## q.14
#### You are required to write a program to sort the (name, age, score) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 

 
The priority is that name > age > score. 


If the following tuples are given as input to the program: 


Tom,19,80 

John,20,90 

Jony,17,91

Jony,17,93 

Json,21,85 


Then, the output of the program should be: 
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]